*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: darkgray;
    align-content: center;
    justify-content: center;
}

main {
    display: flex;
    width: 80vw;
    height: 80vh;
    font-size: 15rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    align-items: center;
    text-align: center;
    margin: auto;
    justify-content: center;
}
